{% extends "base.html" %} 


    {% block head %}
    {% endblock %}
    
    
    
    {% block body %}

    <main class="px-3 text-center">
      
    <h1>Leaderboard</h1>
      <br>
      <br>
      <p class="lead">Compare your Scores with other F1-Fan!</p>
      <br>
      <br>

    <table class="table table-responsive table-light table-hover table-bordered">
      <thead>
        <tr>       
          <th scope="col">Rank</th>
          <th scope="col">User</th>
          <th scope="col">total score</th>
          <th scope="col">answered questions</th>
          <th scope="col">Avg. points per answer</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
      </tbody>
    </table>

  </main>
                 
    {% endblock %}