{% extends "base.html" %} 


    {% block head %}
    {% endblock %}
    
    
    
    {% block body %}

    <main class="px-3 text-center">
      
    <h1>Leaderboard</h1>
      <br>
      <br>
      <p class="lead">Compare your Scores with other F1-Fan!</p>
      <br>
      <br>

    <table class="table table-responsive table-light table-hover table-bordered">
      <thead class="thead-custom">
        <tr>       
          <th scope="col">Rank</th>
          <th scope="col">User</th>
          <th scope="col">total score</th>
          <th scope="col">answered questions</th>
          <th scope="col">Avg. points per answer</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{user.username}}</td>
          <td>{{user.points}}</td>
          <td>{{user.number_of_question}}</td>
          {% if user.number_of_question == 0 %}
          <td>0</td>
          {% else %}
          {% set avg = user.points/user.number_of_question%}
          <td>{{'%0.2f'| format(avg|float)}}</td>
          {% endif %}
        </tr>
        {% endfor %}
       
      </tbody>
    </table>

  </main>
                 
    {% endblock %}
