{% extends "base.html" %} 


    {% block head %}
    {% endblock %}
    
    
    
    {% block body %}

    <main class="px-3 text-center" >
      <h1>Quiz</h1>
      <p class="lead">Choose a difficulty for your very own Quiz!</p>
      <button class="btn btn-primary bouton-image monBouton">Soft</button>
      <button class="btn btn-primary bouton-image monBouton">Medium</button>
      <button class="btn btn-primary bouton-image monBouton">Hard</button>

    </main>    
                 
    {% endblock %}